@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Secular+One&display=swap');
@import url(/Style/var.css);

@media (width < 700px){

    .help{
        position: relative;
        position: fixed;
        bottom: 0;
        right: 5px;
        
       }
     
        .help > #chat, #helpBotten input[type= "checkbox"]{
         display: none;
        }
     
        #helpBotten:has(input[type= "checkbox"]:checked) + #chat{
          display: initial;
        }
     
       #helpBotten > label > img {
         width: 80px;
       }
     
        #chat{
         position: absolute;
         bottom: 60px;
         right: 60px;
         width: 200px;
         height: 400px;
         background-color:rgb(196, 167, 106);
         border: 1px solid black;
         direction: rtl;
        text-align: center;
        border-radius: 10px;
     
        }
     
        #talk{
            
          padding:5% 2%;
          height: 88%;
          background-color: hsl(49, 100%, 92%);
          margin: 5% 5% 0 5% ;
          border-radius: 10px;
        }
     
        
        #message{
          position: relative;
          width: 100%;
          margin: 5% 0 0 0 ;
         }
     
         #message > input{
            width: 90%;
            border-radius: 10px;
         }
}


@media (width >= 700px){

.help{
    position: relative;
    position: fixed;
    bottom: 0;
    right: 5px;

}

.help > #chat, #helpBotten input[type= "checkbox"]{
    display: none;
}

#helpBotten:has(input[type= "checkbox"]:checked) + #chat{
    display: initial;
}

#helpBotten > label > img {
    width: 100px;
}

#chat{
    position: absolute;
    bottom: 60px;
    right: 60px;
    width: 200px;
    height: 400px;
    background-color:rgb(196, 167, 106);
    border: 1px solid black;
    direction: rtl;
    text-align: center;
    border-radius: 10px;
}

#talk{
    padding:5% 2%;
    height: 88%;
    background-color: hsl(49, 100%, 92%);
    margin: 5% 5% 0 5% ;
    border-radius: 10px;
}


#message{

    position: relative;
    width: 100%;
    margin: 5% 0 0 0 ;
}

#message > input{
   width: 90%;
   border-radius: 10px;
}
}