@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Secular+One&display=swap');
@import url(/Style/header.css);

.body{

    font-family: "Secular One", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(234, 233, 217);
    
    grid-template-areas:
       
        'welcome welcome welcome welcome welcome welcome' 
        'aside main main main main main'
        'aside main main main main main' 
        'aside main main main main main'
        'footer footer footer footer footer footer'
        
}

.grid{
    display: grid;   
}

a{
    text-decoration: none;
}



#welcome{
    margin-top: 3%;
    grid-area: welcome;
    background-image: url(/Style/images/Welcome.jpeg) ;
    background-size: cover;  
}

#welcome > div > a{
    font-weight: bold;
    font-size: 50px;
    margin: auto;
    background-color: rgba(235, 140, 39, 0.45);
    border-radius: 100px;
    border: 2px solid rgb(13, 13, 13);
    padding: 015px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: black;
  
}

#title1{
    
    font-size: 150px;
    padding-left: 50%;
}

#title2{
    
    font-size: 150px;
    padding-left: 40%;
}
#welcome > h2{
    font-size: 100px;
    padding-left: 85%;
}

#welcome > div{
    grid-template-columns: 1fr 1fr ;
    margin: 3%;
    
}

#main{
    grid-area: main;
    height: 70%;
}

#main > div{
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 70%;
    gap: 3%;
    padding: 3% 8%;
    
}

.imgContain{
    
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden; 
    transition: all 1.1s; 
    text-align: center;   
}

.imgContain > div{
    width: 100%;
    height: 100%; 
    background-color: rgba(229, 216, 103, 0.705);     
}

.hoverEffect{
    position: relative;
    width: 100%;
    height: 100%;   
    color: rgb(77, 72, 34);
}

.img-effect{

    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all 1.1s;
}


.titleMove{
    direction: rtl;
    position: absolute;
    font-size: 40px;
    right: 10%;
    bottom: 25%;
    transform: translateY(1000%);
    opacity: 0%;
    transition: ease 1.1s;
}



.textMove{
    direction: rtl;
    padding: 8%;
    font-size: 18px;
    position: absolute; 
    top: 75%;
    transform: translateY(1000%);
    opacity: 0%;
    transition: ease 1.1s;
    
}

.hoverEffect:hover > .img-effect{
    transform: scale(1.2);
    opacity: 30%;
}

.hoverEffect:hover > .titleMove{
    transform: translateY(0%);
    opacity: 100%;
}

.hoverEffect:hover > .textMove{
    
    transform: translateY(0%);
    opacity: 100%;
}


.midle {
    
    height: 30%;
    padding: 0% 8%;
      
}

.midle > div {  
    width: 100%;
    height: 100%; 
    background-color: rgba(229, 216, 103, 0.705);
}

.img-effect:hover{
    transform: scale(1.2);
    opacity: 30%;
}

#aside{
    grid-area: aside;
    width: 100%;
    height: 70%;	
    background: rgb(241, 230, 181);
    color: rgb(0, 0, 0);
    border-right: 2px solid rgba(158, 147, 97, 0.9);
    border-bottom: 2px solid rgba(158, 147, 97, 0.9);
    overflow: hidden;
    
}


.news{
    margin: auto;
    width: 80%;
    height: 20%;
    overflow: hidden; 
    transform:translateY(500%);
    
}

#news1{
    animation: scroll-up1 12s linear infinite;
}

#news2{
    animation: scroll-up2 12s linear 2s infinite;
}

.newsImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#footer {
    grid-area: footer;
}

#footer > ul {
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    justify-content: space-around;
    gap: 20px;
    width: 50%;
    margin-inline: auto;

}

#footer img{
    width: 20%;
} 


@keyframes scroll-up1 {
    0%   {
    transform: translateY(500%); 		
    }
    100% {
    transform: translateY(-200%); 
    }
}

@keyframes scroll-up2 {
    0%   {
    transform: translateY(500%); 		
    }
    100% {
    transform: translateY(-200%); 
    }
}

@keyframes mainTitle {
    0%{
        transform: translateY(0rem);
    }
    100%{
        transform: translateY(10rem);
    }
}
