@import url(/Style/reset.css);
@import url(/Style/var.css);

@media (width < 700px){

    #header{
        position: relative;
        width: 100%;
        background-color: rgba(245, 245, 220, 0.9);
        position: fixed;
        top: 0px;  
        z-index: 1;
        border-bottom: 3px solid rgba(158, 147, 97, 0.9);

    }

    #mobile_btn{
        position: absolute;
        top: 0;
        right: 0;
        width: 30px; 
        margin: 12px 20px;
        
        
    }
   
    #header > nav, #mobile_btn input[type="checkbox"]{
    display: none;
    }

    #mobile_btn:has(input[type="checkbox"]:checked)+ div + nav{
    display: initial;
    }

    #headerLogo{
        width: 100px;
        margin: 0px 25px;
    }


    #header > nav{
        direction: rtl;
        position: absolute;
        background-color: rgba(245, 245, 220, 0.9);
        width: 60%;
        margin-top: 57px;
        right: 0;
        border-left: 3px solid rgba(158, 147, 97, 0.9);
        border-bottom: 3px solid rgba(158, 147, 97, 0.9);
        
    }


    #header > nav > ul{
        grid-row: auto;
        margin-right: 20px;
        font-size: 25px;  
        gap: 10px;
    }

    .headerTitles > div{
        margin: 15px 0px;
    }

    .headerTitles > div > li > a{
        text-decoration: none; 
        font-family: var(--ff);
        font-weight: var(--fw);
        font-style: var(--fs);
    }

    .headerTitles > div > li{
        width: 100%;
        height: 100%;
    }


    .headerHover > li > a > div{  

        width: 100%;
        height: 100%;
    }

    .headerHover > li > a > div > span{
        color:rgb(124, 69, 2);  
    }

}


@media (width >= 700px){

    #header{
        direction: rtl;
        padding: 0% 10% ;
        grid-template-columns: 10% 1fr ;
        width: 100%;
        background-color: rgba(245, 245, 220, 0.9);
        position: fixed;
        top: 0px;  
        z-index: 1;
        border-bottom: 3px solid rgba(158, 147, 97, 0.9);

    }

    #header #mobile_btn{
        display: none;
    }

    #mobile_btn+nav{
        display: initial;
    }

    #headerLogo{
        text-align: center;
    }



    .headerTitles{
        
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
        font-size: 25px;  
        
    }

    .headerTitles{
        width: 100%;
        height: 100%;
    }

    .headerTitles > div{
        margin: 0% 10%;
    }

    .headerTitles > div > li{
        width: 100%;
        height: 100%;
    }

    .headerHover{
        width: 90%;
        height: 100%;
    }
    .headerHover > li > a {
        font-family: var(--ff);
        font-weight: var(--fw);
        font-style: var(--fs);
        text-decoration: none;
    }

    .headerHover > li > a > div{  

        width: 100%;
        height: 100%;
        text-align: center;
    }

    .headerHover > li > a > div > span{
        color:rgb(124, 69, 2);
        position: relative;
        height: 100%;
        width: 100%;
        top: 30%;
        
    }

    .headerHover:hover{
        background-color: rgb(245, 245, 178);
        
    }
}