@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Secular+One&display=swap');
@import url(/Style/header.css);
@import url(/Style/reset.css);
@import url(/Style/var.css);
@import url(/Style/chat.css);


@media (width < 700px){
    .grid{
        display: grid;
        
    }
    
    #title{
        
        padding: 8rem 1rem 2rem 1rem;
        font-size: 30px;
        text-align: center;
        font-family: "Secular One", sans-serif;
        font-weight: 900;
        font-style: normal;
        text-decoration: overline;
    }
    
    form{
        padding: 0 15%;
    }
    
    .personal{
    
       
        background-color: rgb(215, 207, 196);
        height: 250px;
        border: 2px solid rgba(229, 207, 207, 0.822);
        grid-template-rows: 1fr 1fr;
        font-size: 20px;
        text-align: center; 
        padding: 10% 0 10% 0%;
        box-shadow: 0px 0px 60px 0px rgba(112, 112, 112, 0.75);
    
        
    }
    
    
    
    .form-input label{
        display: block;
        margin: auto ;
        font-family: "Secular One", sans-serif;
        font-weight: 900;
        font-style: normal;
        border-radius: 0.5em;
    
    }
    
    
    .form-input > input{
        font-size: 20px;
        margin: auto ;
        width: 90%;
        background-color:rgb(241, 230, 181);
       
    }
    
    .container {
       
        width: 100%;
        height: 100%;
        background-image: conic-gradient(rgb(211, 200, 181), rgb(154, 163, 152));
        background-size: 200% 50%;
        background-repeat: no-repeat;
        background-color: rgb(227, 222, 212);
      }
    
    #button{
        grid-template-rows: 1fr 1fr;
        display: block;
        margin: 10px ;
    }
    
    #button > button{
        display: block;
        margin: 10px auto;
        font-size: 20px;
        background-color:rgb(198, 205, 165);
    
    
    }
    
    button {
        font-family: "Secular One", sans-serif;
        font-weight: 900;
        font-style: normal;
        color: #090909;
        padding: 0.7em 1.7em;
        font-size: 18px;
        border-radius: 0.5em;
        background: #e8e8e8;
        cursor: pointer;
        border: 1px solid #e8e8e8;
        transition: all 0.3s;
        box-shadow: 1px 1px 8px #c5c5c5, -1px -1px 8px #ffffff;
      }
      
        button:hover {
        border: 1px solid white;
      }
      
      button:active {
        box-shadow: 4px 4px 12px #a5d43e, -4px -4px 12px #79dfa2;
      }
      
    

}



@media (width >=700px){



.grid{
    display: grid;
    
}

#title{
    
    font-size: 40px;
    text-align: center;
    margin-top:9%;
    font-family: "Secular One", sans-serif;
    font-weight: 900;
    font-style: normal;
    text-decoration: overline;
}



.personal{

    display: block;
    background-color: rgb(215, 207, 196);
    height: 300px;
    margin: 30px 40%;  
    border: 2px solid rgba(229, 207, 207, 0.822);
    grid-template-rows: 1fr 1fr;
    font-size: 25px;
    text-align: center; 
    gap: 15px;
    padding: 15px;
    box-shadow: 0px 0px 60px 0px rgba(112, 112, 112, 0.75);

    
}



.form-input label{
    display: block;
    margin: 20px auto ;
     font-family: "Secular One", sans-serif;
    font-weight: 900;
    font-style: normal;
    border-radius: 0.5em;

}


.form-input > input{
    font-size: 20px;
    margin: 0px auto ;
    
    background-color:rgb(241, 230, 181);
   
}

.container {
   
    width: 100%;
    height: 100%;
    background-image: conic-gradient(rgb(211, 200, 181), rgb(154, 163, 152));
    background-size: 200% 50%;
    background-repeat: no-repeat;
    background-color: rgb(227, 222, 212);
  }

#button{
    grid-template-rows: 1fr 1fr;
    display: block;
    margin: 10px ;
}

#button > button{
    display: block;
    margin: 10px auto;
    font-size: 20px;
    background-color:rgb(198, 205, 165);


}

button {
    font-family: "Secular One", sans-serif;
    font-weight: 900;
    font-style: normal;
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    box-shadow: 1px 1px 8px #c5c5c5, -1px -1px 8px #ffffff;
  }
  
    button:hover {
    border: 1px solid white;
  }
  
  button:active {
    box-shadow: 4px 4px 12px #a5d43e, -4px -4px 12px #79dfa2;
  }
  




}
