@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Secular+One&display=swap');
@import url(/Style/header.css);
@import url(./reset.css);
@import url(/Style/var.css);
@import url(/Style/chat.css);

@media (width < 700px){

.grid{
    display: grid;   
}

a{
    text-decoration: none;
}

.body{

    grid-template-areas:

    'welcome'
    'main'
    'aside'
    'footer'
     ;

     font-family: var(--ff);
     font-weight: var(--fw);
     font-style: var(--fs);
     background-color:var(--clr-body);
     
}

#welcome{

    position: relative;
    height: 300px;
    margin-top: 3em;
    grid-area: welcome;
    background-image: url(/Style/images/Welcome.jpeg) ;
    background-size: cover;
    text-align: center;  
}

#welcome > div > a{

    font-weight: bold;
    font-size: 150%;
    margin: auto;
    background-color: rgba(230, 211, 150, 0.815);
    border-radius: 100px;
    border: 2px solid rgb(13, 13, 13);
    padding: 5% 10%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: black;
  
}

#title1{
    color: rgb(35, 31, 32);
    font-size: 60px;
    padding: 1rem 1rem 0 40%;
}

#title2{
    color: rgb(35, 31, 32);
    font-size: 60px;
    padding: 0 30% 0 3rem;
    
}

#welcome > img{
    
    position: absolute;
    width: 160px;
    top: 41%;
    left: 30%;
}

#welcome > div{
    
    position: absolute;
    width: 100%;
    height: 20%;
    grid-template-columns: 1fr 1fr ;
    bottom: 10%;
}

.us{
    
    color: rgb(70, 81, 60);
    font-size:50px;
    font-weight:900;
    text-align: right;
    float: right;
    padding: 0% 4%;
    margin: 4% 0%;
    direction: rtl;
}

#about{ 
    text-align: right;
    
}

.about{
    line-height: 20px;
    float: right;
    margin: 10px;
    color: rgb(70, 81, 60);
    font-size:14px;
    font-weight: 500;
    padding: 0% 5%;
    
}
.about > p{
    direction: rtl;
}


#main{
    grid-area: main;
    height: 70%;
}

#main > div{

    width: 100%;
    height: 80%;
    gap: 3%;
    padding: 10% 15%;
    
}

.imgContain{

    scale: 0;
    opacity: 0%;
    border-radius: 10px;
    overflow: hidden; 
    text-align: center; 
    animation: fadeIn linear forwards;
    animation-timeline: view();
    animation-range-start: 0px ;
    animation-range-end: 400px ;
}


@keyframes fadeIn{
    from{
        scale: 0.2;
        opacity: 0%;
    }
    to{
        scale: 1;
        opacity: 100%;
    }
}

.imgContain > div{

    width: 100%;
    height: 100%; 
    background-color: rgba(229, 216, 103, 0.705);   


}


.hoverEffect{
    position: relative;
    width: 100%;
    height: 100%;   
    color: rgb(77, 72, 34);
    
    
    
}

.img-effect{

    object-fit: fill;
    width: 100%;
    height: 100%;
    opacity: 30%;
}

.titleMove{
    direction: rtl;
    position: absolute;
    font-size: 25px;
    right: 10%;
    bottom: 40%;

}

.textMove{
    direction: rtl;
    padding: 8%;
    font-size: 15px;
    position: absolute; 
    top: 60%;
}

.midle {
        
    height: 20%;
    padding: 0% 8%;
    
}

.midle > div {  
    width: 100%;
    height: 100%; 
    background-color: rgba(229, 216, 103, 0.705);
    
}

.titleMoveMidle{
    direction: rtl;
    position: absolute;
    font-size: 25px;
    right: 5%;
    bottom: 55%;

}

.textMoveMidle{
    direction: rtl;
    padding: 8%;
    font-size: 15px;
    position: absolute; 
    top: 45%;
   
}

#aside{
    grid-area: aside;
    width: 100%;
    height: 150px;	
    background: rgb(255, 254, 248);
    color: rgb(0, 0, 0);
    border-top: 2px solid rgba(158, 147, 97, 0.9);
    border-bottom: 2px solid rgba(158, 147, 97, 0.9);
    overflow: hidden;
    
}


.news{

    width: 40%;
    height: 80%;
    padding: 15px 0px 0px 0px;
    
}

.news >div{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden; 
    border-radius: 10px;
    box-shadow: 0px 30px 40px -25px rgb(229, 226, 226);
}

.news > h2{
    text-align: center;
    font-size: 12px;
    direction: rtl;
}

.newsImg{

    width: 100%;
    height: 100%;
    object-fit: cover;

}

.video{
    display: none;
}

#news1{
    animation: scroll-up1 11s linear infinite; 
    transform: translate(300%, 0);
}


#news2{
    animation: scroll-up2 11s linear 3s infinite;
    transform: translate(300%, -100%);
   
}

#news3{
    animation: scroll-up3 11s linear 6s infinite;
    transform: translate(300%, -200%);
}


@keyframes scroll-up1 {
    0%   {
        transform: translate(300%, 0);		
    }
    100% {
        transform: translate(-300%, 0); 
    }
}

@keyframes scroll-up2 {
    0%   {
        transform: translate(300%, -100%); 
		
    }
    100% {
        transform: translate(-300%, -100%);
    }
}

@keyframes scroll-up3 {
    0%   {
        transform: translate(300%, -200%);  		
    }
    100% {
        transform: translate(-300%, -200%);
    } 
}




#footer {
    height: 50px;
    grid-area: footer;
    background-color: aliceblue;
    padding: 15px 10px 0 10px;
    
}

#footer > ul {
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    justify-content: space-around;
    gap: 20px;
    margin-inline: auto;


}

#footer img{
    width: 20%;
} 

}