@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Secular+One&display=swap');
@import url(/Style/header.css);
@import url(/reset.css);
@import url(/Style/var.css);

.body{
    font-family: var(--ff);
     font-weight: var(--fw);
     font-style: var(--fs);
     background-color:var(--clr-body);
}

.grid{
    display: grid;
}

#title{
    width: 100%;
    height: 250px;
}
   
.title{
    color: rgb(61, 34, 0);
    position: absolute;
    font-size:35px;
    font-weight:700;  
    letter-spacing:1px; 
    text-align:center;
    width:210px;
    top: 8rem;
    right: 1rem;
    
}

.title:before{
    background-color: rgb(121, 113, 0);
    content: "";
    display: block;
    height: 4px;
    width: 90px;
    
    
}

.title:after{
    background-color: rgb(121, 113, 0);
    content: '';
    display: block;
    position:absolute; right:0; bottom:0;
    height: 4px;
    width: 90px;
    margin-bottom: -7px;
}


.private{
    position: relative;
    left: 38%;
    right: 2rem;
    width: 60%;
    height: 440px;
    direction: rtl;

    
    
}

.private > h1{
    color: rgb(61, 34, 0);
    font-size: 25px;
    font-weight: 700;  
    letter-spacing: 1px; 
    width: fit-content;
}

.private > h1:after{
    background-color: rgb(121, 113, 0);
    content: '';
    display: block;
    height: 4px;
    width: 100%;
    margin-bottom: 0px;
}

.info{
    position: relative;
    top: 1rem;
    border: 2px solid black;
    border-radius: 10px;
    height: 100%;
    padding: 10px 0;
    /* gap: 5px; */
    background-color: rgb(245, 239, 186);
}

.info div:nth-of-type(even){
    background-color: rgb(193, 198, 195);
}


.details{
    position: relative;
    grid-template-columns: 19% 90%;
    font-size: 140%;
    /* border-bottom: 2px solid black;
    margin-top: 2%; */
    padding: 2%;
}



button {
    padding: 18px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
    margin-top: 2%;
    margin-right: 2%;
    font-weight:900; 
  }
  
  button:hover {
    letter-spacing: 3px;
    background-color: hsl(216, 73%, 64%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(55, 89, 184) 0px 7px 29px 0px;
  }
  
  button:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
  }

.purches{
    position: relative;
    top: 1rem;
    border: 2px solid black;
    border-radius: 10px;
    height: 100%;
    padding: 10px 0;
    /* gap: 5px; */
    background-color: rgb(248, 248, 247); 
}




.payments div:nth-of-type(even){
    background-color: rgb(193, 198, 195);
} 


.pay{
   
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 140%;
    padding: 2%;
  
}

.payments {
    position: relative;
    left: 38%;
    right: 2rem;
    width: 60%;
    height: 330px;
    direction: rtl;
}


.payments > h1{
    color: rgb(61, 34, 0);
    font-size: 25px;
    font-weight: 700;  
    letter-spacing: 1px; 
    width: fit-content;
}

.payments > h1:after{
    background-color: rgb(121, 113, 0);
    content: '';
    display: block;
    height: 4px;
    width: 100%;
    margin-bottom: -3px;
}

.like{
    float: right;
    position: relative;
    /* left: 38%; */
    /* right: 2rem; */
    width: 90%;
    height: 330px;
    direction: rtl;
}

.like > div{
    grid-template-columns: 12% 1fr;
    margin-right: 50px;
}

.like > div > h1{
    color: rgb(61, 34, 0);
    font-size: 25px;
    font-weight: 700;  
    letter-spacing: 1px; 
    width: fit-content;
}

.like > div > h1:after{
    background-color: rgb(121, 113, 0);
    content: '';
    display: block;
    height: 4px;
    width: 130%;
    margin-bottom: -1;
}



.heart{
    
     text-align:center;
  
}
.heart > img{
    float: right;
    width: 30px;
}
.photos{
    padding: 5%;
}

.photo {
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
    gap: 10%;
    /* padding: 3% 8%; */
}
  
.imgContain{
        
    width: 100%;
    height: 100%;
    border-radius: 30px;
    overflow: hidden; 
    transition: all 1.1s; 
    text-align: center; 
    overflow: hidden; 

}

.imgContain > div{
    height: 100%;
}

.img-effect{
    height: 100%;
    object-fit: cover;
}

  