@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Secular+One&display=swap');
@import url(/Style/header.css);
@import url(/Style/reset.css);
@import url(/Style/var.css);
@import url(/Style/chat.css);


@media (width < 700px){
    .body{
        font-family: var(--ff);
        font-weight: var(--fw);
        font-style: var(--fs);
        background-color: rgb(241, 232, 217);
        
    }
    .grid{
        display: grid; 
    }  
     
    #title{
        width: 100%;
        height: 200px;
    }
       
    .title{
        direction: rtl;
        width: fit-content;
        color: rgb(70, 81, 60);
        font-size:30px;
        font-weight:900; 
        padding: 8rem 0 0 20%;
        
    }
    
    .title:before{
        background-color: rgb(104, 157, 111);
        content: "";
        display: block;
        height: 6px;
        width:100%;
    }
    
    .title:after{
     background-color: rgb(104, 157, 111);
        content: '';
        display: block;
        height: 6px;
        width: 100% ;
        
    }
    
    .piska{
    
        line-height: 25px;
        padding: 15px;
        width: 100%;
        margin: 6% 0% 2% 0;
        background-color: rgb(193, 202, 180);
        box-shadow: 90px;
        letter-spacing:1px; 
        text-align:center;
        direction: rtl;
        font-size: 13px;
        text-decoration:double;
        font-weight: 900;
        
    
    }
    
    .smiley{
        padding-top: 5%;
        text-align: center;
        
    }
    .smiley > img{
        width: 80px;
    }
}





@media (width >= 700px){

body{
    font-family: var(--ff);
    font-weight: var(--fw);
    font-style: var(--fs);
    background-color: rgb(241, 232, 217);
    
}
.grid{
    display: grid;
}  


#title{

    direction: rtl;
    width: fit-content;
    color: rgb(70, 81, 60);
    font-size:38px;
    font-weight:900;      
    padding: 8rem 0 0 60%;
}

  
   
.title:before{
    background-color: rgb(104, 157, 111);
    content: "";
    display: block;
    height: 6px;
    width:100%;
}

.title:after{

    background-color: rgb(104, 157, 111);
    content: '';
    display: block;
    height: 6px;
    width: 100% ;
    
}




.piska{

    line-height: 35px;
    padding: 17px;
    width: 100%;
    margin: 6% 0% 2% 0;
    background-color: rgb(193, 202, 180);
    box-shadow: 90px;
    letter-spacing:1px; 
    text-align:center;
    direction: rtl;
    font-size: 18px;
    text-decoration:double;
    font-weight: 900;
    

}

.smiley{
    text-align: center;
    
}
.smiley > img{
    width: 80px;
}
}
